# Debug: {{item}}
title: {{name}} Collection
description: Collection for managing {{name}} data
name: {{name}}
versions:
  - version: "1.0.0.1"
    add_indexes:
      - name: nameIndex
        key:
          name: 1
        options:
          unique: true
      - name: saved_atIndex
        key:
          last_saved.at_time: 1
        options:
          unique: false
    test_data: {{name}}.1.0.0.1.json 