title: {{collection_title}}
description: {{collection_description}}
name: {{collection_name}}
versions:
  - version: "1.0.0.1"
    add_indexes:
      - name: nameIndex
        key:
          name: 1
        options:
          unique: true
      - name: saved_atIndex
        key:
          last_saved.at_time: 1
        options:
          unique: false
{% if collection_has_test_data %}
    test_data: {{collection_name}}.1.0.0.1.json
{% endif %} 